body {
    width: 100%;
    height: 100%;
    background-color: rgb(43, 43, 43);
    font-family: 'Courier New', Courier, monospace;
}

header {
    color: white;
    font-size: 32px;
}

header h1 {
    background-color: rgb(234, 196, 107);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

footer {
    margin-top: 35px;
}

footer p, footer a {
    color: white;
    text-align: right;
    margin-right: 20px;
    font-size: 16px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25%;
}

.cell {
    font-size: 6vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 13.5vh;
    height: 13.5vh;
    margin: 0;
    background-color: rgb(168, 168, 168);
}

.popin {
    animation-name: popin;
    animation-fill-mode: both;
    animation-duration: 0.4s;
}

.popins {
    animation-name: popins;
    animation-fill-mode: both;
    animation-duration: 1s;
}

#grid-container {
    flex-direction: column;
    align-items: normal;
    width: 90vw;
    height: 90vw;
    max-width: 60vh;
    max-height: 60vh;
    border-radius: 5px;
    background-color: rgb(125, 125, 125);
}

#game-end {
    position: absolute;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    border-color: khaki;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    background-color: burlywood;
    opacity: 0.8;
    z-index: 2;
    display: none;
    font-size: 8vh;
    text-align: center;
    color: black;
}

#game-end p {
    background-color: khaki;
    fill-opacity: 1;
}

#game-end button {
    width: 25vh;
    height: 8vh;
    opacity: inherit;
}

#tile-2 {
    color: black;
    background-color: rgb(221, 208, 205);
}

#tile-4 {
    color: black;
    background-color: rgb(221, 189, 182);
}

/* Tile colors */

#tile-8 {
    color: white;
    background-color: rgb(240, 175, 143);
}

#tile-16 {
    color: white;
    background-color: rgb(250, 127, 96);
}

#tile-32 {
    color: white;
    background-color: rgb(241, 131, 123);
}

#tile-64 {
    color: white;
    background-color: rgb(241, 98, 88);
}

#tile-128 {
    color: white;
    background-color: rgb(236, 214, 161);
}

#tile-256 {
    color: white;
    background-color: rgb(236, 205, 131);
}

#tile-512 {
    color: white;
    background-color: rgb(238, 204, 124);
}

#tile-1024 {
    color: white;
    background-color: rgb(236, 200, 116);
}

#tile-2048 {
    color: white;
    background-color: rgb(234, 196, 107);
}

/* Animations */

@keyframes popin {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

@keyframes popins {
    from {opacity: 0;}
    to {opacity: 0.8;}
}